<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <header>
    {% if user.is_authenticated %}
      Play {{ user.username }}!
      <a href="{% url 'logout' %}?next=/path_to_the_page">logout</a>
      <main>
        {% block content %}
	{% endblock %}
      </main>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}
  </header>
</body>
</html>
