{% extends 'base.html' %}

{% block content %}
<div>
  <div id="div1">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Deposit</button>
    </form>
 </div>
 <div id="div2">
    <form method="post">
      {% csrf_token %}
      {{ form_game.as_p }}
      <button type="submit">Play</button>
    </form>
 </div>
</div>
    <br><br><br>
    {% for wallet in wallets %}
      <label>{{ wallet.cash }}.{{ wallet.cents }} {{ wallet.currency }}</label><br />
    {% endfor %}

    <br><br><br>

    {% for game in games %}
      <label>
        Your bet: {{ game.bet_color }} Result {{ game.result }} Status:

        {% if game.result == game.bet_color %}
          WIN
        {% else %}
          LOSE
        {% endif %}
      </label><br />
    {% endfor %}

    <style type="text/css">
    #div1 {
        display: inline-block;
        width:460px;
    }
    #div2 {
        display: inline-block;
        width:160px;
    }
    </style>


{% endblock %}
